:root {
  --primary-color: #C58700;
  --primary: #C58700;
}

.bg_primary {
  background: var(--primary-color);
}

.bg1 {
    background-image: url("../images/free-construction-background-vector.jpg");
}

.bg2 {
    background-image: url("../images/bg2.jpg");
}


.bg3 {
    background-image: url("../images/where_to_begin.jpg");
}

.h-full {
  min-height: 100vh;
}

.jumbotron {
    color: white;
    min-height: 100vh;
    position: relative;
    margin-bottom: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.layover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00000087;
    z-index: 0;
}
.data_layoff {
  z-index: 100;
}

.hightlight-text {
  color: var(--primary-color);
}

.custom-hero-transform {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_btn {
  background: var(--primary-color);
  border-radius: 60px;
  padding: 10px 40px;
}

.contact-box-hero {
  padding: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background-image: linear-gradient(290deg, #FFFFFF 32%, var(--primary-color) 17%);
}

.contact-form {
  width: 90%;
}
.contact-form > input:focus, .contact-form > textarea:focus {
  outline: none;
  box-shadow: unset;
}

.get-quote-btn {
  margin-top: 10px;
}

.elementor-shape-top {
    top: -1px;
    fill: var(--primary-color);
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

#ourwork {
  position: relative;
  padding-top: 100px;
}

.service_div {
  overflow: none;
}

.service_image {
  width: 100%;
  height: calc(100% - 60px);
}

.service_image:hover {
  transform: scale(1.01);
}

.service_label {
  font-size: 21px;
  text-align: center;
  padding: 7px 0px;
  background: var(--primary-color);
  color: #fff;
}

#testimonial_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial {
  background: var(--primary-color);
  padding: 65px;
  text-align: center;
}


.img-thumbnail, .thumb {
    border: unset;
    padding: unset;
    border-radius: unset;
    margin: 0;
}

.img-thumbnail {
    height: 100% !important;
    object-fit: cover;
}

.border_panel_white {
  border: 1px solid #fff;
}
.contact_us_bg {
    background-color: transparent;
    background-image: linear-gradient(90deg, #FFFFFF 32%, var(--primary-color) 17%);
  }

.my_custom_btn {
  background: var(--primary-color);
  border-color: #fff;
  color: #fff;
}

.my_custom_btn:hover {
  color: #fff;
  transform: scale(1.01);
}

@media (max-width: 768px) {
  .contact_us_bg {
    background-image: linear-gradient(232deg, #FFFFFF 32%, var(--primary-color) 17%);
  }
  .contact-box-hero {
    display: none;
  }

  #home.jumbotron.jumbotron-fluid.bg1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .testimonial {
    padding: 35px;
  }


  .thumb, .img-thumbnail {
    height: auto;
    width: 80%;
    margin: auto;
  }
}
